[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Small portable buildsystem based on AOSP makefile structures
[access "refs/*"]
	owner = group user/Francisco Javier Alvarez Garcia (Javier-varez)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Francisco Javier Alvarez Garcia (Javier-varez)
	label-Verified = -1..+1 group user/Francisco Javier Alvarez Garcia (Javier-varez)
	push = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	read = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	rebase = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	removeReviewer = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	submit = group user/Francisco Javier Alvarez Garcia (Javier-varez)
[access "refs/heads/*"]
	create = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	push = +force group user/Francisco Javier Alvarez Garcia (Javier-varez)
	pushMerge = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	read = group user/Francisco Javier Alvarez Garcia (Javier-varez)
[access "refs/tags/*"]
	push = group user/Francisco Javier Alvarez Garcia (Javier-varez)
	push = +force group user/Francisco Javier Alvarez Garcia (Javier-varez)
